@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #FAFAFB;;
}
.Mont{
    font-family: var(--font-Montserrat);
    font-size: 50px;
}
